{% extends "users/base.html" %}

{% block content %}
<div class="container mt-5">
        <div class="card p-4 text-center">
            <h2>Відновлення паролю</h2>
        <form method="post"  class="mt-5">
          {% csrf_token %}
          <fieldset class="module aligned">
            <div class="form-group">
                <p>Забули пароль? Введіть свою email-адресу нижче і ми відправимо вам інструкції по встановленню нового.</p>
              {{ form.email.errors }}
              <label for="id_email">Електронна пошта:</label>
              {{ form.email }}
            </div>
          </fieldset>
          <div class="form-group mt-3">
            <input type="submit" value="Надіслати листа" onclick="{% url 'password_reset_done' %}" class="btn btn-primary">
          </div>
        </form>
  </div>
</div>
{% endblock %}
