<div class="container my-5">
    <h1 class="text-center mb-4">Список авторів</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="get" class="mb-4">
                <div class="input-group">
                    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Знайдіть автора..." class="form-control">
                    <button type="submit" class="btn btn-primary">Пошук</button>
                </div>
            </form>
        </div>
    </div>

    {% if authors %}
    <ul class="list-group">
        {% for author in authors %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <h5 class="mb-1">{{ author.name }} {{ author.surname }}</h5>
                <p class="mb-0">Рік народження: {{ author.birth_year }}</p>
                <p class="mb-0">Біографія: {{ author.bio }}</p>
            </div>
            <div class="d-flex justify-content-end">
                {% if request.user.is_admin %}
                    <a href="{% url 'update_author' author.id %}" class="btn btn-sm btn-warning me-2">Редагувати</a>
                    <a href="{% url 'delete_author' author.id %}" class="btn btn-sm btn-danger">Видалити</a>
                {% elif request.user.is_manager %}
                    <a href="{% url 'update_author' author.id %}" class="btn btn-sm btn-warning me-2">Редагувати</a>
                    <a href="{% url 'delete_author' author.id %}" class="btn btn-sm btn-danger">Видалити</a>
                {% endif %}

            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-center">Автори не знайдені</p>
    {% endif %}
</div>
